.home {
    min-height: 100%;

    .home-hero {
        height: 600px;
        background-image: linear-gradient(to right, rgb(255,255,255), rgb(0,0,0,0.4)), url("../images/home-hero.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        .hero-info {
            position: absolute;
            left: 10%;
            top: 25%;

            .hero-title {
                font-size: 60px;
                font-weight: 500;
                letter-spacing: 3px;
            }   

            .hero-desc {
                font-size: 20px;
                font-weight: 500;
                margin-left: 6px;
            }

            .hero-btn {
                @include site-btn();

                i {
                    margin-top: 8px;
                }
            }
        }
    }

    .home-doublecard {
        background-color: #f3f8ff;
        display: flex;
        height: 700px;
        padding: 80px 0;

        .doublecard-left {
            width: 40%;
            height: 100%;
            padding: 0 100px;

            .title1 {
                color: #106cff;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 600;
            }

            .title2 {
                font-size: 45px;
                font-weight: 600;
                line-height: 50px;
            }

            .left-desc {
                line-height: 30px;
                font-size: 20px;
            }

            .doublecard-btn {
                @include site-btn();

                i {
                    margin-top: 8px;
                }
            }
        }

        .doublecard-right {
            width: 60%;
            height: 100%;
            background-image: url("../images/doublecard.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}