@mixin site-btn($margin: 75px 0, $bgColor: #106cff, $width: 170px, $color: #fff, $bradius: 50px, $padding: 20px) {
    margin: $margin;
    text-decoration: none;
    color: $color;
    background-color: $bgColor;
    padding: $padding;
    border-radius: $bradius;
    width: $width;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 600;

    i {
        margin-top: 0px;
    }
}