@mixin site-btn($margin: 75px 0, ) {
    margin: $margin;
    text-decoration: none;
    color: #fff;
    background-color: #106cff;
    padding: 20px;
    border-radius: 50px;
    width: 170px;
    display: flex;
    justify-content: space-around;

    i {
        margin-top: 8px;
    }
}