nav {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 50px;

    .site-title {
        color: #000; 
        font-size: 40px;
        letter-spacing: 5px;
        text-decoration: none;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 600px;
        font-size: 17px;
        letter-spacing: 2px;

        a {
            text-decoration: none;
            color: #000;
        }
    }   
}

footer {
    height: 70px;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}